{% include base_path %}
		<!-- Footer -->
                <!-- TEST EDIT FOR AUTO DEPLOY ROUND 2 -->
		<footer>
			<div class="container">
				<div class="col-sm-4">
					<h4>Quick Links</h4>
					<ul>
						{% for link in site.data.footer_links %}
							<li><a href="{{link.permalink}}">{{link.name}}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-sm-4 affiliate-images">
					<a href="http://www.weather.gov/wrn/"><img src="{{ base_path }}/assets/amb_logo_sml.png"></a>
					<a href="https://las.iastate.edu/"><img src="{{ base_path }}/assets/isu_las_logo.png"></a>
				</div>
				<div class="col-sm-4 twitter-box">
					<a class="twitter-timeline" data-width="300" data-height="300" data-dnt="true" data-theme="light" href="https://twitter.com/ISUAMS">Tweets by ISUAMS</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
			<div class="container">
				<div class="col-xs-12 fine-print">
					© {{ site.time | date: "%Y" }} Iowa State University Student Chapter of the American Meteorological Society<br>
					Email the webmaster (<a href="mailto:webmaster.isuams@iastate.edu">webmaster.isuams@iastate.edu</a>) with any questions, comments, or suggestions.
				</div>
			</div>
		</footer>

		<!-- Scripts -->
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{ base_path }}/assets/javascripts/jquery.min.js"><\/script>')</script>
		<script src="{{ base_path }}/assets/javascripts/bootstrap.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="{{ base_path }}/assets/javascripts/ie10-viewport-bug-workaround.js"></script>
		{% if page.include_js %}
			{% include footer_scripts.html %}
		{% endif %}
	</body>
</html> 
