/** Homepage Backgrounds **/
.welcome-section {
    background-image: url(../assets/welcome-section.jpg);
}
.what-we-do-section {
    background-image: url(../assets/what-we-do-section.jpg);
}
.outreach-call-to-action {
    background: #444;
}
.events-section {
    background-image: url(../assets/events-section.jpg);
}
.resources-section {
    background-image: url(../assets/resources-section.jpg);
}