---
# Home Page Layout
# 	Here is where the home page is controlled
# 	@todo right now just a static mockup, will adjust to dynamic later
---
{% include header.html %}
<!-- Welcome Section -->
<section class="homepage-section welcome-section">
	<div class="container">
		<div class="col-xs-12 col-sm-6 lead overview">
			<h1>ISU AMS</h1>
			<p class="welcome-text">A tagline will go here, or a sentence or two teaser. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, dolore. </p>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h2 class="events-list-title">Upcoming Events</h2>
			<ul class="events-list">
				<li class="event">
					<h5>August Meeting</h5>
					<p>August 23rd, 2016</p>
				</li>
				<li class="event">
					<h5>Another Event</h5>
					<p>August 32nd, 2016</p>
				</li>
				<li class="event">
					<h5>Yet Another Event</h5>
					<p>September 0th, 2016</p>
				</li>
			</ul>
		</div>
	</div>
</section>

<!-- What We Do (overview) Section -->
<section class="homepage-section what-we-do-section">
	<div class="container">
		<div class="col-sm-6">
			<h2>What We Do</h2>
			<p>Overview of what we do (public oriented). Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur facere ratione, repudiandae, doloribus, excepturi ut et dolores nostrum molestias eum quidem animi dolorem praesentium, voluptatem quasi fugiat ea dolor maiores.</p>
			<div class="quick-links">
				<a class="btn btn-default" href="#" role="button">Event Calendar</a>
				<a class="btn btn-default" href="#" role="button">Resources</a>
				<a class="btn btn-default" href="#" role="button">Chapter Info</a>
				<a class="btn btn-default" href="#" role="button">Cy's Eyes on the Skies</a>
			</div>
		</div>
		<div class="col-sm-6">
			<p style="width: 100%; padding: 120px; background: #ccc; box-sizing: border-box; text-align: center; color: #555;">A Featurette of What We Do (image slideshow or random image, with captions)</p>
		</div>
	</div>
</section>

<!-- Outreach Information Aside/call to action -->
<aside class="homepage-section outreach-call-to-action">
	<div class="container">
		<div class="col-xs-12 col-sm-9 col-md-6 col-md-offset-2 call-to-action-text">Interested in our weather education outreach programs?</div>
		<div class="col-xs-12 col-sm-3 col-md-2 call-to-action-button"><a class="btn btn-primary btn-lg" href="#" role="button">Contact Us</a></div>
	</div>
</aside>

<!-- Events and Activities Section -->
<section class="homepage-section events-section">
	<div class="container">
		<div class="col-sm-6">
			<h2>Events and Activites</h2>
			<p>A brief description of our events and activites (more geared toward members). Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe odit, sint necessitatibus! Cum eaque, exercitationem iste tenetur recusandae aliquid sit.</p>
			<a class="btn btn-default" href="#" role="button">Full Calendar</a>
			<br><br>
		</div>
		<div class="col-sm-6">
			<p style="width: 100%; padding: 120px; background: #ccc; box-sizing: border-box; text-align: center; color: #555;">A small scale version of the event calendar</p>
		</div>
	</div>
</section>

<!-- Resources Section -->
<section class="homepage-section resources-section">
	<div class="container">
	    <h2 class="resources-title">Resources</h2>
		<ul class="resources-list">
			<li class="resource">
				<h5><a href="#">Weather Links</a></h5>
			</li>
			<li class="resource">
				<h5><a href="#">Alumni Connections</a></h5>
			</li>
			<li class="resource">
				<h5><a href="#">Academic Resources</a></h5>
			</li>
			<li class="resource">
				<h5><a href="#">Scholarships</a></h5>
			</li>
			<li class="resource">
				<h5><a href="#">Internships and REU's</a></h5>
			</li>
			<li class="resource">
				<h5><a href="#">Career Resources</a></h5>
			</li>
		</ul>
	</div>
</section>
{% include footer.html %}