---
# Home Page Layout
# 	Here is where the home page is controlled
# 	@todo right now just a static mockup, will adjust to dynamic later
---
{% include header.html %}
<!-- Main -->
<main>

<!-- Welcome Section -->
<section class="homepage-section welcome-section">
	<div class="container">
		<div class="col-xs-12 col-sm-6 lead overview">
			<h1>ISU AMS</h1>
			<p class="welcome-text">4-Time Student Chapter of the Year committed to community outreach and student involvement in social and academic activities.</p>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h2 class="events-list-title">Upcoming Events</h2>
			<ul class="events-list">
				<li class="event">
					<h5>February Meeting</h5>
					<p>February 27th, 2017<br>7pm - 3140 Agronomy</p>
				</li>
				</li>
			</ul>
		</div>
	</div>
</section>

<!-- What We Do (overview) Section -->
<section class="homepage-section what-we-do-section">
	<div class="container">
		<div class="col-sm-6">
			<h2>What We Do</h2>
			<p>Overview of what we do (public oriented). Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur facere ratione, repudiandae, doloribus, excepturi ut et dolores nostrum molestias eum quidem animi dolorem praesentium, voluptatem quasi fugiat ea dolor maiores.</p>
			<div class="quick-links">
				<a class="btn btn-primary" href="{{ site.baseurl }}{% link outreach/index.md %}" role="button">Outreach Information</a>
				<a class="btn btn-default" href="{{ site.baseurl }}{% link events-activities/calendar.html %}" role="button">Event Calendar</a>
				<a class="btn btn-default" href="{{ site.baseurl }}{% link about/index.md %}" role="button">Chapter Info</a>
				<a class="btn btn-default" href="{{ site.baseurl }}{% link events-activities/cys-eyes.md %}" role="button">Cy's Eyes on the Skies</a>
				<a class="btn btn-default" href="{{ site.baseurl }}{% link news/iowa-state-weather.html %}" role="button">Iowa State Weather</a>
			</div>
		</div>
		<div class="col-sm-6">
			<div id="carousel-homepage-images" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-homepage-images" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-homepage-images" data-slide-to="1"></li>
					<li data-target="#carousel-homepage-images" data-slide-to="2"></li>
					<li data-target="#carousel-homepage-images" data-slide-to="3"></li>
					<li data-target="#carousel-homepage-images" data-slide-to="4"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="{{ site.baseurl }}/uploads/CopyofScienceFair.jpg" alt="...">
					</div>
					<div class="item active">
						<img src="{{ site.baseurl }}/uploads/_DSC0268.png" alt="...">
					</div>
					<div class="item active">
						<img src="{{ site.baseurl }}/uploads/skating.png" alt="...">
					</div>
					<div class="item active">
						<img src="{{ site.baseurl }}/uploads/scifair2.png" alt="...">
					</div>
					<div class="item active">
						<img src="{{ site.baseurl }}/uploads/firetruck.png" alt="...">
					</div>
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</section>

<!-- Outreach Information Aside/call to action -->
<!-- // For now, not included //
<aside class="homepage-section outreach-call-to-action">
	<div class="container">
		<div class="col-xs-12 col-sm-9 col-md-6 col-md-offset-2 call-to-action-text">Interested in our weather education outreach programs?</div>
		<div class="col-xs-12 col-sm-3 col-md-2 call-to-action-button"><a class="btn btn-primary btn-lg" href="#" role="button">Contact Us</a></div>
	</div>
</aside>
-->

<!-- Events and Activities Section -->
<section class="homepage-section events-section">
	<div class="container">
		<div class="col-sm-6">
			<h2>Events and Activites</h2>
			<p>Whether it’s ice skating under the evening skyline in Des Moines, decorating delicious cookies at Christmas, or becoming an intrepid adventurer while in the middle of a corn maze, the ISU AMS has social events that anyone can enjoy! If you’re looking for a friendly and inviting atmosphere and for an award-winning student organization to be a part of, join us for any one of our many events taking place this year.</p>
			<a class="btn btn-default" href="{{ site.baseurl }}{% link events-activities/calendar.html %}" role="button">Full Calendar</a>
			<br><br>
		</div>
		<div class="col-sm-6">
			<div id="calendar" style="width: 100%;"></div>
		</div>
	</div>
</section>

<!-- Resources Section -->
<section class="homepage-section resources-section">
	<div class="container">
		<h2 class="resources-title">Resources</h2>
		<ul class="resources-list">
			<li class="resource">
				<h5><a href="{{ site.baseurl }}{% link resources/weather-links.md %}">Weather Links</a></h5>
			</li>
			<li class="resource">
				<h5><a href="{{ site.baseurl }}{% link resources/alumni-connections.md %}">Alumni Connections</a></h5>
			</li>
			<li class="resource">
				<h5><a href="{{ site.baseurl }}{% link resources/academic-resources.md %}">Academic Resources</a></h5>
			</li>
			<li class="resource">
				<h5><a href="{{ site.baseurl }}{% link resources/scholarships.html %}">Scholarships</a></h5>
			</li>
			<li class="resource">
				<h5><a href="{{ site.baseurl }}{% link resources/internship-reu.html %}">Internships and REU's</a></h5>
			</li>
			<li class="resource">
				<h5><a href="{{ site.baseurl }}{% link resources/career-resources.md %}">Career Resources</a></h5>
			</li>
		</ul>
	</div>
</section>

</main>
{% include footer.html %}