---
# Post Layout
# 	Uses recent posts as sidebar
---
{% include header.html %}
<!-- Main -->
<main class="inner-page">
	<div class="container">
		<div class="col-sm-8 col-sm-push-4 col-md-9 col-md-push-3">
			<article class="post">
				<h2>{{ page.title }}</h2>
				<p class="author">
					<span class="date">{{ page.date | date_to_string }}</span>
				</p>
				<section class="content">{{ content }}</section>
			</article>
		</div>
		<div class="col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
			{% include recent_posts.html %}
		</div>
	</div>
</main>
{% include footer.html %}