<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="The Iowa State University Student Chapter of the American Meteorological Society (ISU AMS) is an award-winning chapter committed to community outreach and student involvement in social and academic activities.">
		<link rel="icon" href="../../../Downloads/docs/favicon.ico">

		<title>ISU AMS: Homepage (Design Demo)</title>

		<!-- Bootstrap core CSS -->
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<link href="stylesheets/styles.css" rel="stylesheet">

		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="../../../Downloads/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		<script src="../../../Downloads/docs/assets/js/ie-emulation-modes-warning.js"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Temp Live CSS -->
		<link href="stylesheets/temp.css" rel="stylesheet">

	</head>

	<body role="document">

		<!-- Page Header -->
		<header class="site-header">
			<div class="header-main">
				<div class="container">
					<div class="title-area">
						<h1 class="sr-only">Iowa State University Student Chapter of the American Meteorological Society (ISU AMS)</h1>
						<img src="isu_ams_web_logo_2.png" class="site-logo">
					</div>
					<div class="extras hidden-xs">
						<div class="social-icons">
							<div class="social-icon"><a href="#"><span class="genericon genericon-facebook-alt"></span></a></div>
							<div class="social-icon"><a href="#"><span class="genericon genericon-twitter"></span></span></a></div>
							<div class="social-icon"><a href="#"><span class="genericon genericon-mail"></span></a></div>
						</div>
					</div>
				</div>
			</div>
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<div class="social-icons">
							<div class="social-icon"><a href="#"><span class="genericon genericon-facebook-alt"></span></a></div>
							<div class="social-icon"><a href="#"><span class="genericon genericon-twitter"></span></span></a></div>
							<div class="social-icon"><a href="#"><span class="genericon genericon-mail"></span></a></div>
						</div>
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#">Events &amp; Activities</a></li>
							<li><a href="#">Outreach</a></li>
							<li><a href="#">Resources</a></li>
							<li><a href="#">News &amp; Features</a></li>
							<li><a href="about.html">About Us</a></li>
						</ul>
						<form class="navbar-form navbar-right hidden-sm" role="search">
                            <div class="form-group"><div class="input-group">
                                <input type="text" class="form-control item-search" placeholder="Site Search">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </span>
                            </div></div>
                        </form>
					</div><!--/.nav-collapse -->
				</div>
			</nav>
		</header>

		<!-- Main -->
		<main>
			
			<!-- Welcome Section -->
			<section class="homepage-section welcome-section">
				<div class="container">
					<div class="col-xs-12 col-sm-6 lead overview">
						<h1>ISU AMS</h1>
						<p class="welcome-text">A tagline will go here, or a sentence or two teaser. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, dolore. </p>
					</div>
					<div class="col-xs-12 col-sm-6">
						<h2 class="events-list-title">Upcoming Events</h2>
						<ul class="events-list">
							<li class="event">
								<h5>August Meeting</h5>
								<p>August 23rd, 2016</p>
							</li>
							<li class="event">
								<h5>Another Event</h5>
								<p>August 32nd, 2016</p>
							</li>
							<li class="event">
								<h5>Yet Another Event</h5>
								<p>September 0th, 2016</p>
							</li>
						</ul>
					</div>
				</div>
			</section>

			<!-- What We Do (overview) Section -->
			<section class="homepage-section what-we-do-section">
				<div class="container">
					<div class="col-sm-6">
						<h2>What We Do</h2>
						<p>Overview of what we do (public oriented). Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur facere ratione, repudiandae, doloribus, excepturi ut et dolores nostrum molestias eum quidem animi dolorem praesentium, voluptatem quasi fugiat ea dolor maiores.</p>
						<div class="quick-links">
							<a class="btn btn-default" href="#" role="button">Event Calendar</a>
							<a class="btn btn-default" href="#" role="button">Resources</a>
							<a class="btn btn-default" href="#" role="button">Chapter Info</a>
							<a class="btn btn-default" href="#" role="button">Cy's Eyes on the Skies</a>
						</div>
					</div>
					<div class="col-sm-6">
						<p style="width: 100%; padding: 120px; background: #ccc; box-sizing: border-box; text-align: center; color: #555;">A Featurette of What We Do (image slideshow or random image, with captions)</p>
					</div>
				</div>
			</section>

			<!-- Outreach Information Aside/call to action -->
			<aside class="homepage-section outreach-call-to-action">
				<div class="container">
					<div class="col-xs-12 col-sm-9 col-md-6 col-md-offset-2 call-to-action-text">Interested in our weather education outreach programs?</div>
					<div class="col-xs-12 col-sm-3 col-md-2 call-to-action-button"><a class="btn btn-primary btn-lg" href="#" role="button">Contact Us</a></div>
				</div>
			</aside>

			<!-- Events and Activities Section -->
			<section class="homepage-section events-section">
				<div class="container">
					<div class="col-sm-6">
						<h2>Events and Activites</h2>
						<p>A brief description of our events and activites (more geared toward members). Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe odit, sint necessitatibus! Cum eaque, exercitationem iste tenetur recusandae aliquid sit.</p>
						<a class="btn btn-default" href="#" role="button">Full Calendar</a>
						<br><br>
					</div>
					<div class="col-sm-6">
						<p style="width: 100%; padding: 120px; background: #ccc; box-sizing: border-box; text-align: center; color: #555;">A small scale version of the event calendar</p>
					</div>
				</div>
			</section>

			<!-- Resources Section -->
			<section class="homepage-section resources-section">
				<div class="container">
				    <h2 class="resources-title">Resources</h2>
					<ul class="resources-list">
						<li class="resource">
							<h5><a href="#">Weather Links</a></h5>
						</li>
						<li class="resource">
							<h5><a href="#">Alumni Connections</a></h5>
						</li>
						<li class="resource">
							<h5><a href="#">Academic Resources</a></h5>
						</li>
						<li class="resource">
							<h5><a href="#">Scholarships</a></h5>
						</li>
						<li class="resource">
							<h5><a href="#">Internships and REU's</a></h5>
						</li>
						<li class="resource">
							<h5><a href="#">Career Resources</a></h5>
						</li>
					</ul>
				</div>
			</section>

		</main>

		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="col-sm-4">
					<h4>Quick Links</h4>
					<ul>
						<li><a href="#">Outreach Request Information</a></li>
						<li><a href="#">Informational Weather Links</a></li>
						<li><a href="#">Meeting Minutes</a></li>
						<li><a href="#">Officer Contacts</a></li>
						<li><a href="#">Event Calendar</a></li>
					</ul>
				</div>
				<div class="col-sm-4 affiliate-images">
					<img src="amb_logo_sml.png">
					<img src="isu_las_logo.png">
				</div>
				<div class="col-sm-4 twitter-box">
					<a class="twitter-timeline" data-width="300" data-height="300" data-dnt="true" data-theme="light" href="https://twitter.com/ISUAMS">Tweets by ISUAMS</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
			<div class="container">
				<div class="col-xs-12 fine-print">
					© 2016 Iowa State University Student Chapter of the American Meteorological Society<br>
					Email the webmaster (<a href="mailto:webmaster.isuams@iastate.edu">webmaster.isuams@iastate.edu</a>) with any questions, comments, or suggestions.
				</div>
			</div>
		</footer>

		<!-- Scripts -->
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../../../Downloads/docs/assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="../../../Downloads/docs/dist/js/bootstrap.min.js"></script>
		<script src="../../../Downloads/docs/assets/js/docs.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="../../../Downloads/docs/assets/js/ie10-viewport-bug-workaround.js"></script>

	</body>
</html> 