<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="The Iowa State University Student Chapter of the American Meteorological Society (ISU AMS) is an award-winning chapter committed to community outreach and student involvement in social and academic activities.">
		<link rel="icon" href="../../../Downloads/docs/favicon.ico">

		<title>ISU AMS: Homepage (Design Demo)</title>

		<!-- Bootstrap core CSS -->
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<link href="stylesheets/styles.css" rel="stylesheet">

		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="../../../Downloads/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		<script src="../../../Downloads/docs/assets/js/ie-emulation-modes-warning.js"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Temp Live CSS -->
		<link href="stylesheets/temp.css" rel="stylesheet">

	</head>

	<body role="document">

		<!-- Page Header -->
		<header class="site-header">
			<div class="header-main">
				<div class="container">
					<div class="title-area">
						<h1 class="sr-only">Iowa State University Student Chapter of the American Meteorological Society (ISU AMS)</h1>
						<img src="isu_ams_web_logo_2.png" class="site-logo">
					</div>
					<div class="extras">
						<div class="social-icons">
							<div class="social-icon"><a href="#"><span class="genericon genericon-facebook-alt"></span></a></div>
							<div class="social-icon"><a href="#"><span class="genericon genericon-twitter"></span></span></a></div>
							<div class="social-icon"><a href="#"><span class="genericon genericon-mail"></span></a></div>
						</div>
					</div>
				</div>
			</div>
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="index.html">Home</a></li>
							<li><a href="#">Events &amp; Activities</a></li>
							<li><a href="#">Outreach</a></li>
							<li><a href="#">Resources</a></li>
							<li><a href="#">News &amp; Features</a></li>
							<li class="active"><a href="about.html">About Us</a></li>
						</ul>
						<form class="navbar-form navbar-right hidden-sm" role="search">
                            <div class="form-group"><div class="input-group">
                                <input type="text" class="form-control item-search" placeholder="Site Search">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </span>
                            </div></div>
                        </form>
					</div><!--/.nav-collapse -->
				</div>
			</nav>
		</header>

		<!-- Main -->
		<main class="inner-page">

			<!-- Content goes here -->
			<div class="container">
				<div class="col-sm-8 col-sm-push-4 col-md-9 col-md-push-3">
					<ol class="breadcrumb">
					  <li><a href="index.html">Home</a></li>
					  <li><a href="about.html">About Us</a></li>
					  <li class="active">Home</li>
					</ol>
					<h1>About Us</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, ipsum doloremque accusantium repellendus ipsam eligendi veniam expedita nihil omnis, corporis beatae quibusdam aut repudiandae eos nemo, laboriosam earum. Dolorum exercitationem nemo debitis rerum voluptates modi quia eveniet sequi facilis magni eligendi labore accusantium vitae nesciunt nihil soluta libero quis, atque iste aut dolorem! Quo qui suscipit odit exercitationem voluptatum dolorem excepturi, est quasi iure, tempora officia asperiores amet sequi et dignissimos velit hic ut cupiditate veniam iusto alias recusandae ab.
					</p><p>
						Possimus a, eaque. Eligendi recusandae delectus quod sint in soluta blanditiis neque quam quia itaque possimus, et nisi debitis harum! Vero distinctio maiores repellendus ipsam deserunt nesciunt aperiam quasi necessitatibus labore, voluptates mollitia sed aut, in debitis repellat. Veritatis aspernatur, iure alias optio obcaecati ab error placeat molestias illum doloremque, autem minus, explicabo enim iste culpa magnam nulla. Odio illum dicta tempore, temporibus labore iusto ipsa. Eum rerum quas optio?
					</p>
				</div>
				<div class="col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
					<nav class="inner-nav secondary-nav">
						<a class="active" href="about.html">About Us</a>
						<ul>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Officers</a></li>
							<li><a href="#">Meeting Minutes</a></li>
							<li><a href="#">Constitution and Bylaws</a></li>
							<li><a href="#">Awards</a></li>
						</ul>
					</nav>
				</div>
			</div>

		</main>

		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="col-sm-4">
					<h4>Quick Links</h4>
					<ul>
						<li><a href="#">Outreach Request Information</a></li>
						<li><a href="#">Informational Weather Links</a></li>
						<li><a href="#">Meeting Minutes</a></li>
						<li><a href="#">Officer Contacts</a></li>
						<li><a href="#">Event Calendar</a></li>
					</ul>
				</div>
				<div class="col-sm-4 affiliate-images">
					<img src="amb_logo_sml.png">
					<img src="isu_las_logo.png">
				</div>
				<div class="col-sm-4 twitter-box">
					<a class="twitter-timeline" data-width="300" data-height="300" data-dnt="true" data-theme="light" href="https://twitter.com/ISUAMS">Tweets by ISUAMS</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
			<div class="container">
				<div class="col-xs-12 fine-print">
					© 2016 Iowa State University Student Chapter of the American Meteorological Society<br>
					Email the webmaster (<a href="mailto:webmaster.isuams@iastate.edu">webmaster.isuams@iastate.edu</a>) with any questions, comments, or suggestions.
				</div>
			</div>
		</footer>

	</body>
</html> 